<app-header></app-header>
<div class="container-fluid">
   <div class="row">
    <div class="col-md-4">
    <div class="mt-3">
    <label for="state">Module</label>
    </div>
    <select class="custom-select d-block w-100" id="state" required>
      <option value="">Choose...</option>
      <option>System Requirements and Design</option>
      <option>System Analysis and Design</option>
      <option>Development</option>
      <option>Testing and Deployment</option>
      <option>Maintenance</option>
      </select>
</div>
<div class="col-md-4">
    <div class="mt-3">
    <label for="state">Members</label>
    </div>
    <select class="custom-select d-block w-100" id="state" required>
      <option value="">Choose...</option>
      <option></option>
      <option></option>
      <option></option>
      <option></option>
      <option></option>
      </select>
</div>
</div>
</div>
