<div class="col-12 bg-secondary rounded " style="height: 10vh;">
    <div class="row justify-content-start">
      <div class="col-5 justify-content-start"><a class="navbar-brand " href="#">Logo</a></div>
      <div class="col-7 mt-2 ">
        <span class="align-self-center navbar-brand" style="align-content: center;font-size: large;">Employee Task Manager</span>
      </div>
    </div>
  </div>


<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>

<div class="text-center">
<form class="form-signin">
    <img class="mb-4" src="assets/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="text" class="sr-only">User Name</label>
    <input type="text" [(ngModel)]="userName" name="userName" class="form-control" placeholder="User Name" required="" autofocus="">
    {{name}}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" [(ngModel)]="userPassword" name="userPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
    <p (click)="afterLogin()"  class="mt-5 mb-3 text-muted">© 2017-2019</p>
  </form>
</div>