<html>
<head>   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body>
    <div class="container-fluid ">
     <div class="row" style="display: grid; justify-content: center; background-color: aquamarine;"> <h1>Manager Dashboard</h1></div> 
     <div class="alert alert-primary" role="alert">
       <a href="#" class="alert-link">Leave</a>. 
      </div>
      <div class="alert alert-secondary" role="alert">
         <a href="#" class="alert-link">Assign Project</a>. 
             </div>
      <div class="alert alert-success" role="alert">
         <a href="#" class="alert-link">Assign Task</a>.
      </div>
      <div class="alert alert-danger" role="alert">
     <a href="#" class="alert-link">Evaluate Project</a>. 
      </div>
      <div class="alert alert-warning" role="alert">
     <a href="#" class="alert-link">Employee graph</a>. 
      </div>
 
    </div>
    </body>
    </html>
