<app-header></app-header>
<div class="container  ">
    <div class="row text-dark" style="display: grid; justify-content: center;"> <h2>Project Member </h2></div>
                          
    <div id="leave-row" class="row justify-content-center align-items-center" >
        <div id="leave-column" class="col-md-6" style="background-color: snow">
            <div id="leave-box" class="col-md-12" style="background-color: snow;">
                <form id="leave-form" class="form" action="" method="post">
                 
                    <div class="form-group">
                        <label for="leaveid" class="text  h5">ProjectId</label><br>
                        <input type="text" name="leaveid" id="leaveid" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <label for="from" class="text h5">Project Title</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                   
                    <div class="form-group">
                        <label for="from" class="text h5">Project Description</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="from" class="text h5">Module Id </label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="from" class="text h5">Module Name</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                      
                    <div class="form-group">
                        <label for="leaveid" class="text  h5">Module Member count</label><br>
                        <input type="text" name="leaveid" id="leaveid" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="leaveid" class="text  h5">Module Status</label><br>
                        <input type="text" name="leaveid" id="leaveid" class="form-control">
                    </div>

                    <div class="form-group">
                      <input type="submit" name="submit" class="btn btn-primary btn-md " value="Submit">
                   
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>


        