<div class="col-12 border border-primary  ">
  <div class="row justify-content-start">
    <div class="col-5 justify-content-start"><a class="navbar-brand " href="#">Logo</a></div>
    <div class="col-7 mt-2 ">
      <span class="align-self-center navbar-brand" style="align-content: center;font-size: large;">Employee Task Manager</span>
    </div>
  </div>
  
  <div>
    <ul class="nav offset-3 justify-content-end">
    <li></li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

</div>

<div class="col-2 border border-primary mt-2"  style="height:auto;">
  <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
  </div>

</div>

<!-- Footer -->
<footer class="page-footer sticky-bottom font-small special-color-dark pt-4 mt-2 border border-primary">


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> ETM</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->