<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Employee Task Manager</a>
      </header>
      <ul class="nav mt-3 ">
        <li>
          <a href="#">
            <i class="zmdi zmdi-calendar mt-3 "></i>Profile
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard mt-3 "></i> Add
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-link mt-3 "></i> Update
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-widgets"></i>Delete
          </a>
        </li>


      </ul>
    </div>
  </div>