
<app-header></app-header>
<div class="container-fluid">
    <div class="row text-dark" style="display: grid; justify-content: center;"> <h2> Project List </h2></div>
    <table class="table table-hover text-centered" align="center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#ProjectId</th>
            <th scope="col">Project Title</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          
        </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
           <td></td>
           <td></td>
        </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
      </table>
      
     
</div>

