<div class="container  ">
    <div id="leave-row" class="row justify-content-center align-items-center" >
        <div id="leave-column" class="col-md-6" style="background-color: snow">
            <div id="leave-box" class="col-md-12" style="background-color: snow;">
                <form id="leave-form" class="form" action="" method="post">
                 
                    <div class="form-group">
                        <label for="leaveid" class="text  h5">EmloyeeId</label><br>
                        <input type="text" name="leaveid" id="leaveid" class="form-control" >
                    </div>
                    
                    <div class="form-group">
                        <label for="from" class="text h5">Name</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="to" class="text h5">Date Of Joining</label><br>
                        <input type="text" name="to" id="to" class="form-control"  placeholder="dd/mm/yyyy" >
                    </div>

                    <div class="form-group">
                      <label for="employeeId" class="text h5">Date Of Birth</label><br>
                      <input type="text" name="employeeId" id="employeeId" class="form-control"placeholder="dd/mm/yyyy"  >
                    </div>

                    <div class="form-group">
                        <label for="from" class="text h5">Address</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="from" class="text h5">Phone No.</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="from" class="text h5">Email Id</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="from" class="text h5">Role Name</label><br>
                        <input type="text" name="from" id="from" class="form-control" >
                    </div>
                      
                    

                    <div class="form-group">
                      <input type="submit" name="submit" class="btn btn-primary btn-md   " value="Submit">
                   
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

